body{
    background-image: url(https://gifdb.com/images/thumbnail/pastel-sky-background-3garh8rnc14jym78.gif);
    background-size: 100%;
    
    /* background-repeat: no-repeat; */
    /* background-position: ; */
    /* background:fixed; */
    align-items: center;
    text-align: center;
    /* background-size: cover;  */
    /* filter: grayscale(0%); */
    border: 10PX solid rgb(58, 39, 112);
    border-radius: 20PX;
}
h1{
    
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    padding-top: 60px;
}
p{
    /* text-decoration-color: black;
    z-index: 50px; */
    /* border: 1px solid black;
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px; */
}
/* .ndB{
   display: flex;
   /* padding-bottom: 200px ; */
a{
    border: 2px solid green;
    border-radius: 10px;
    color: black;
    font-size: large;
    text-decoration: none;
}
a:hover{
    background-color: rgb(162, 224, 216);
    /* height: 100px; */
    /* transform: scale(1.2); */
    /* transition: transform 1s ease-in-out; */
    transition: all 0.20s;
    box-shadow: 1px 10px 30px -6px rgb(188, 236, 210);
}