body{
    background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* background:fixed; */
    align-items: center;
    text-align: center;
    /* background-size: cover;  */
    /* filter: grayscale(0%); */
    border: 10PX solid rgb(58, 39, 112);
    border-radius: 20PX;
}
h1{
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    padding-top: 80px;
}
p{
    /* text-decoration-color: black;
    z-index: 50px; */
    /* border: 1px solid black;
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px; */
}